body{
    background-color: rgb(3, 0, 2);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 20px;
    
      }

 a {
    color: rgb(244, 45, 151);
}

.weather-app {
    background-image: url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?w=1400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGluayUyMGNsb3Vkc3xlbnwwfHwwfHx8MA%3D%3D);
    max-width: 600px;
    Margin: 45px auto;
    
    border-radius: 20px;
    padding: 35px
    
}

header {
    border-bottom: 1px solid black;
    padding: 0 0 25px 0;
}

.search-form-input {
    background-color: rgb(240, 235, 238);
    border: none;
    border-radius: 6px;
    width:80%;
    font-size: 10px;
    padding:15px 20px;
}

.search-form-button {
    background: rgb(244, 45, 151);
    padding: 15px 20px;
    margin-left: 7px;
    border:none;
    border-radius: 6px;
    color:azure
}

main{
    padding:30px 0;
}

.weather-app-data {
    display:flex;
    justify-content: space-between;
}

.weather-app-city {
    margin:0;
    font-size:40px;
    line-height:48px;
}

.weather-app-details {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color:rgb(4, 3, 4)
}

.weather-app-details strong {
    color:rgb(244, 45, 151);
}

.weather-app-temperature-container {
    display:flex;
}

.weather-app-temperature-value {
    font-size: 88px;
    font-weight: bold;
    margin-left: 10px;
}

.weather-app-icon {
    width: 90px;
    height: 90px;
    margin:0 10px;

}

.weather-app-unit{
    margin-top: 10px;
    font-size: 25px;
}

.footer {
border-top: 1px solid black;
padding:30px 0 0 0;
text-align: center;
font-size: 18px;
color:rgb(3, 2, 2);
}

.weather-forecast{
    margin-top:20px;
    text-align:center;
    color:black;
}
.weather-forecast-date{
    text-align: center;
    font-size: 25px;
    opacity:0.5;
    line-height: 5px;
    margin-bottom: 5px;

}
.weather-forecast-temperature-min {
    opacity:0.5
}

.weather-forecast-temperatures {
    text-align: center;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    font-size: 25px;

}
.weather-forecast-temperature {
    margin:auto 5px;
}

.weather-forecast-day {
    font-size: 20px;
    display: inline-block; 
    align-items: center;
    margin-right: 30px; 
  }
  
  .weather-forecast-icon {
    width: 88px;
    height: 88px;
    display:block;
    margin:0 auto;
  }