body{
    background-color: rgb(245, 161, 210);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 20px;
      }
      
.weather-app {
    background: white;
    max-width: 600px;
    Margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65,50,100,0.08);
    border-radius: 16px;
    padding: 30px



}